@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  @apply bg-bg-base text-text-primary font-sans antialiased;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}
